h2,h1,h3,h4,h5,h6{
	font-family:Tahoma, Geneva, sans-serif;
	color:red;
}
body{
	background-image: linear-gradient(to bottom right,SpringGreen,DarkTurquoise);
	height: 100%;
}
p,table,li{
	font-family:"Courier New", Courier, monospace;
	color:black;
}
div a button{
	display:inline-block;
	padding:0.7em 1.4em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.15em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
	font-weight:400;
	color:#FFFFFF;
	background-color:#3369ff;
	box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
	text-align:center;
	position:relative;
}